doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title FCC Quote Machine
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //-link(rel='stylesheet', href='style.css')
    //-script(src='main.js')
      
  body
            
    .nav
      a(href="http://www.freecodecamp.com/challenges/build-a-random-quote-machine").logo
        span.free Free
        span.code Code
        span.camp Camp
        span.project Quote Machine
      
      
      .controls
        a(href="" class="button next" rel="next") Next quote
        //- a(href="" class="button" rel="archive") Archive
        a(href="" class="button tweet" rel="tweet") Tweet
              
    .board
      div(class="content" rel="content")
        q(class="quote animate-reveal--1" rel="quote")
        p(class="author" rel="author")
